<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<extensions>
		<add assembly="NLog.Targets.Http" />
	</extensions>

	<targets>
		<target xsi:type="ColoredConsole" name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target name="fileTarget" xsi:type="File" fileName="log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target name="httpTarget" xsi:type="HTTP" URL="https://localhost:7137/devices/${var:deviceId}/log"
				Method="POST" 
				BatchSize="1" MaxQueueSize="2147483647" IgnoreSslErrors="true"
				FlushBeforeShutdown="true" ContentType="application/json"
				Accept="application/json" DefaultConnectionLimit="2"
				Expect100Continue="false" UseNagleAlgorithm="true"
				ConnectTimeout="30000" InMemoryCompression="true"
				ProxyUrl="" ProxyUser="" ProxyPassword="">
			
		</target>
	</targets>

	<rules>
		<logger name="consoleLogger" minlevel="Info" writeTo="consoleTarget" final="true" />
		<logger name="fileLogger" minlevel="Info" writeTo="fileTarget" final="true" />
		<logger name="httpLogger" minlevel="Info" writeTo="consoleTarget, httpTarget" final="true" />
	</rules>
</nlog>

<!--
Authorization="YourAuthorizationTokenHere"
<header name="Authorization" value="YourAuthorizationTokenHere" />
-->
